*,
*::before,
*::after {
  box-sizing: border-box;
}

html{
  background-color: black;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Gilroy", "Arial", sans-serif;
  margin: 0;
}

