.info-list__item{
  text-decoration: none;
  background-color: #ffffff;
  border-radius: 80px;
  padding: 21px 0px 21px 0px;
  position: relative;
  transition: 0.75s;
  cursor: pointer;
  @media (max-width: $breakpoint-tablet) {
    padding-right: 2px;
  }
  @media (max-width: $breakpoint-desktop) {
    margin-bottom: 10px;
  }
}

.info-list__link{
  color: #000000;
  text-decoration: none;
  padding: 21px 21px 21px 61px;
  width: 100%;
}

.info-list__item--1{
  padding: 21px 21px 21px 61px;
}

.info-list__link--phone{
  @media (max-width: $breakpoint-tablet) {
    padding: 21px 78px 21px 61px;
  }
}

.info-list__link--telegram{
  @media (max-width: $breakpoint-tablet) {
    padding: 21px 128px 21px 61px;
  }
}

.info-list__link--linkedin{
  @media (max-width: $breakpoint-tablet) {
    padding: 21px 144px 21px 61px;
  }
}

.info-list__link--mail{
  @media (max-width: $breakpoint-tablet) {
    padding: 21px 21px 21px 61px;
  }
}

.info-list__link--github{
  @media (max-width: $breakpoint-tablet) {
    padding: 21px 155px 21px 61px;
  }
}

.info-list__item--1::after{
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  left: 15px;
  bottom: 13px;
  background-image: url(../../img/location.svg);
}

.info-list__item--2::after{
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  left: 15px;
  bottom: 13px;
  background-image: url(../../img/phone.svg);
}

.info-list__item--3::after{
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  left: 15px;
  bottom: 13px;
  background-image: url(../../img/mail.svg);
}

.info-list__item--4::after{
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  left: 15px;
  bottom: 13px;
  background-image: url(../../img/telegram.svg);
}

.info-list__item--5::after{
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  left: 15px;
  bottom: 13px;
  background-image: url(../../img/linkedin.svg);
}

.info-list__item--6::after{
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  left: 15px;
  bottom: 13px;
  background-image: url(../../img/github.svg);
}

.info-list__link--mail{
  text-transform: lowercase;
  @media (max-width: $breakpoint-mobile) {
    font-size: 14px;
  }
}

@media (hover: hover) {
  .info-list__item:hover{
    transition: 0.75s;
    background-color: #ff7505;
  }
}