.skills{
  background-color: #FFFFFF;
  border-radius: 32px;
}

.skills__title{
  font-family:'Gilroy';
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-transform: uppercase;
  color:#000000;
  padding-left: 32px;
  @media (max-width: $breakpoint-desktop) {
    padding-top: 15px;
  }
}
