@use "../global/variables" as *;

.catalog{
  @media (min-width: $breakpoint-tablet) {
    display: grid;
    grid-template-columns: 337px 405px;
    grid-template-rows: 428px;
    gap: 8px;
  }
  @media (min-width: $breakpoint-desktop) {
    display: grid;
    grid-template-columns: 337px 420px 625px;
    justify-content: center;
    grid-template-rows: 428px;
    gap: 8px;
  }
}

.catalog__image{
  border-radius: 32px;
  background-color: #0047FF;
  position: relative;
  overflow: hidden;
  @media (max-width: $breakpoint-mobile) {
    height: 313px;
  }
}

.catalog__image img{
  max-width: none;
  position: absolute;
  bottom: 0px;
  right: -190px;
  @media (max-width: $breakpoint-mobile) {
    width: 600px;
    margin-top: 0;
    border-radius: 10px;
    right: -135px;
  }
}

.catalog__portfolio{
  @media (max-width: ($breakpoint-desktop - 1px)) {
    grid-column: 1/3;
  }
}
