@use "../global/variables" as *;

.catalog{
  @media (min-width: $breakpoint-tablet) {
    display: grid;
    grid-template-columns: 337px 405px;
    grid-template-rows: 428px;
    gap: 8px;
  }
  @media (min-width: $breakpoint-desktop) {
    display: grid;
    grid-template-columns: 337px 420px 625px;
    justify-content: center;
    grid-template-rows: 428px;
    gap: 8px;
  }
}

.catalog__image{
  border-radius: 32px;
  background-color: #0047FF;
  transition: 1s;
  @media (max-width: $breakpoint-mobile) {
    height: 313px;
  }
}

// .catalog__image:hover{
//   border-radius: 32px;
//   background-color: #ff7505;
//   transition: 1s;
// }


.catalog__image img{
  margin-top: 48px;
  border-radius: 5%;
  @media (max-width: $breakpoint-mobile) {
    margin-top: 0;
    border-radius: 10px;
  }
}

.catalog__portfolio{
  @media (max-width: ($breakpoint-desktop - 1px)) {
    grid-column: 1/3;
  }
}

