@use "../global/variables" as *;

.page__body{
  margin: 0 auto;
  padding: 54px 0px 47px 0px;
  background-color: #000000;
  @media (max-width: $breakpoint-mobile) {
    padding: 12px 0px 47px 0px;
  }
}

.page__section{
  @media (min-width: $breakpoint-desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
  }
}
