@use "../global/variables" as *;

.portfolio{
  background-color: #ffffff;
  border-radius: 32px;
  width: 100%;
}

.portfolio__container{
  padding: 16px 34px 32px 32px;
  @media (max-width: $breakpoint-mobile) {
    padding-bottom: 10px;
  }
}

.portfolio__title{
  font-family: 'Gilroy';
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 150px;
  @media (max-width: $breakpoint-mobile) {
    margin-top: 0px;
    margin-bottom: 196px;
    font-size: 42px;
    text-align: center;
  }
  @media (min-width: $breakpoint-tablet) {
    margin-top: 0px;
  }
  @media (min-width: $breakpoint-desktop) {
    margin-bottom: 230px;
    margin-top: 5px;
  }
}

.portfolio__title::after{
  @media (min-width: $breakpoint-tablet) {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    right: -30px;
    bottom: -14px;
    background-image: url(/resume.svg);
  }
}

.portfolio__link{
  font-family: 'Gilroy';
  font-size: 71px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #0047FF;
  @media (max-width: $breakpoint-mobile) {
    font-size: 33px;
    text-align: center;
    margin-bottom: 10px
  }
}



