@use "../global/variables" as *;

.skills{
  background-color: #FFFFFF;
  border-radius: 32px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.skills__title{
  font-family:'Gilroy';
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-transform: uppercase;
  color:#000000;
  padding-left: 32px;
  @media (max-width: $breakpoint-mobile) {
    text-align: center;
    padding-left: 0px;
    margin-bottom: 0px;
  }
  @media (max-width: $breakpoint-desktop) {
    margin-top: 15px;
  }
}
